.asistant-item {
    margin-bottom: 50px;
    margin-top: 50px;
}
.asistant-carousel {

  .carousel-indicators li {
    border-color: transparent;
  }
  .carousel-indicators .active {
    background-color:transparent;
  }
.carousel-control.right  {
    background: transparent;
}
.carousel-control.left {
    background: transparent;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
    @media (max-width: 767px) {
        margin-right: -15px;
    }
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -50px;
        /* xs */
    @media (max-width: 767px) {
        margin-left: -15px;
    }
}
}

.asistant-flag {
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    line-height: 32px;
}

