<div class="main-nav" id="headerNav">
    <div class="container">
        <div class="header-top">
            <div class="pull-right social-icons">
                <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
                </div>
                <a href="https://twitter.com/elacbolivia" class="twitter-follow-button" data-show-count="false">Follow @elacbolivia</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a href="https://twitter.com/elacbolivia" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/elacbolivia" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/ElacBolivia" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#naviBar" aria-expanded="false"
                    id="menuSection" aria-controls="navbar">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="img-responsive" src="images/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="naviBar">
                <ul class="nav navbar-nav navbar-right custom-navbar">
                    <li class="nav-item {{elacMenuCtrl.selectItem.name === item.name ? 'active': ''}}" ng-repeat="item in elacMenuCtrl.items"><a href="{{item.href}}" ng-click="elacMenuCtrl.onClickMenu(item)">{{item.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>