.color-reg {
    color: white;
}
.reg-container {
    margin-right: 0px;
    margin-left: 0px;
    @extend .color-reg;

    legend {
        @extend .color-reg;
    }
    label {
        @extend .color-reg;
    }
    input {
        @extend .color-reg;
    }
    md-icon {
        @extend .color-reg;
    }
}

.radio-custom {
    padding-right: 10px;
}

.calendar-btn {
    padding: 2px 15px !important;
}
