.color-reg {
    color: white;
}
.reg-container {
    margin-right: 0px;
    margin-left: 0px;
    @extend .color-reg;

    legend {
        @extend .color-reg;
    }
    label {
        @extend .color-reg;
    }
    input {
        color: black;
    }
    md-icon {
        @extend .color-reg;
    }
}

.radio-custom {
    padding-right: 10px;
}

.calendar-btn {
    padding: 2px 15px !important;
}

.my-datepicker {
    padding-top: 55px;
}

/* xs */
@media (max-width: 767px) {
    .my-datepicker {
        padding-top: 0px;
        .btn {
            padding: 5px 10px;
        }
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .my-datepicker {
        padding-top: 0px;
    }
}