.profile-content {
    padding-bottom: 25px;
    padding-top: 25px;

    text-align: center;
}
.log-icon {
    padding: 10px 10px;
    border: none;
}

.log-text {
    padding: 10px 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.btn-face{
    background-color: #32508C;
    border-color: #32508C;
    font-size: 1.5em;
}

.log-title {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2em;
}